   
/* Estilo para la notificación */
    .notification {
      position: fixed;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      bottom: 20px;
      right: 20px;
      background-color: #FE7703;
      color: white;
      padding: 15px 25px;
      border-radius: 5px;
      box-shadow: 0 3px 10px rgba(0,0,0,0.2);
      display: none;
      z-index: 1000;
      animation: slideIn 0.5s, fadeOut 0.5s 2.5s;
    }
    
    @keyframes slideIn {
      from { transform: translateX(100%); }
      to { transform: translateX(0); }
    }
    
    @keyframes fadeOut {
      from { opacity: 1; }
      to { opacity: 0; }
    }
    
    body.dark-mode {
      background-color: #121212;
      color: white;
    }

    body.dark-mode .navegador,
    body.dark-mode .container-principal,
    body.dark-mode .categoria-container,
    body.dark-mode .Favoritos-container,
    body.dark-mode .rokdog-footer {
      background-color: #1e1e1e;
      color: white;
    }

    body.dark-mode .producto,
    body.dark-mode .Favoritos-column,
    body.dark-mode .categoria-column,
    body.dark-mode .carrito-menu,
    body.dark-mode .usuario-menu,
    body.dark-mode .favoritos-menu {
      background-color: white;
      border-color: #444;
    }

    body.dark-mode input,
    body.dark-mode button {
      background-color: black;
      color: white;
      border-color: #555;
    }

    body.dark-mode .icono-tema .fa-moon::before {
      content: "\f185"; 
    }

   
    body.dark-mode,
    body.dark-mode h1,
    body.dark-mode h2,
    body.dark-mode h3,
    body.dark-mode h4,
    body.dark-mode h5,
    body.dark-mode h6,
    body.dark-mode p {
      color: white !important;
    }

    body.dark-mode .titulo-hero1 h1,
    body.dark-mode .titulo-hero1 h2,
    body.dark-mode .titulo-hero2 h1,
    body.dark-mode .titulo-hero2 h2,
    body.dark-mode .titulo-hero3 h1,
    body.dark-mode .titulo-hero3 h2 {
      color: white !important;
    }

    body.dark-mode .categoria-titulo h3,
    body.dark-mode .Favoritos-titulo h3 {
      color: white !important;
    }

    body.dark-mode .container .column h4,
    body.dark-mode .container .column p {
      color: white!important;
    }

    body.dark-mode .Favoritos-column h5 {
      color: black !important;
    }

    body.dark-mode .footer-title,
    body.dark-mode .footer-text {
      color: white !important;
    }

   
    body.dark-mode a {
      color: black !important;
    }

    body.dark-mode a:hover {
      color: black !important;
    }

.header {
  background-color: #521C0D;
  padding: 4px;
}
   
    .navegador {
      background-color: #521C0D;
      color: #FFFBDE;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 100;
    }
    .logo-buscador {
      display: flex;
      align-items: center;
      flex-grow: 1;
      max-width: 800px;
    }
    
    .buscador {
      flex-grow: 1;
      position: relative;
      margin-left: 10px;
    }
    
    .buscador input {
      width: 100%;
      padding: 8px 15px;
      border-radius: 20px;
      border: none;
      font-size: 14px;
      background-color: #FFFBDE;
    }
    
    .buscador button {
      position: absolute;
      right: 0px;
      top: 40%;
      transform: translateY(-40%);
      background: none;
      border: none;
      color: #FE7703;
  
    }
    
    .iconos {
      display: flex;
      align-items: center;
    }
    
    .icono {
      margin-left: 30px;
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #FFFBDE;
    }
    
    .icono i {
      font-size: 20px;
      margin-bottom: 3px;
      color: #FFFBDE;
    }
    .carrito-total{
      font-size: 20px;
      margin-bottom: 3px;
      color: #521C0D;
    }

    
    .icono span {
      font-size: 12px;
      color: #FFFBDE;
    }
    
    .contador-carrito {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: #FE7703;
      color: #FFFBDE;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
    }
  
  .favoritos-menu h3 {
    color: #E74C3C; 
    border-bottom: 1px solid #ECF0F1;
    padding-bottom: 5px;
  }
  
  .favorito-item span {
    color: #521C0D; 
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .add-to-cart-fav {
    color: white;
    background-color: #FE7703; 
  }
    .favoritos-menu {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #FFFBDE;
      width: 250px;
      border-radius: 5px;
      z-index: 10;
    }
    
    .favoritos-menu h3 {
      padding: 10px;
      background-color: #FE7703;
      color: #FFFBDE;
      font-size: 14px;
    }
    
    .favoritos-menu ul {
      list-style: none;
    }
    
    .favoritos-menu li {
      padding: 1px 5px;
      border-bottom: 1px solid #eee;
      font-size: 10px;
      color: #FE7703;
    }
    
    .favoritos-menu li:hover {
      background-color: #FFFBDE;
    }
    
    .icono-favoritos:hover .favoritos-menu {
      display: block;
    }
    
   
    .carrito-menu {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #FFFBDE;
      width: 300px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      border-radius: 5px;
      z-index: 10;
      color: #521C0D;
    }
    
    .carrito-menu h3 {
      padding: 10px;
      background-color: #FE7703;
      color: #FFFBDE;
      font-size: 14px;
    }
    
    .carrito-items {
      max-height: 300px;
      overflow-y: auto;
    }
    
    .carrito-item {
      display: flex;
      padding: 10px;
      border-bottom: 1px solid #eee;
    }
    
    .carrito-item img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      margin-right: 10px;
    }
    
    .carrito-item-info {
      flex-grow: 1;
    }
    
    .carrito-item-titulo {
      font-size: 14px;
      margin-bottom: 5px;
    }
    
    .carrito-item-precio {
      font-size: 13px;
      color: #FE7703;
    }
    

  .carrito-total span {
    color: #521C0D; 
  }
    .carrito-total {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      background-color: #FFFBDE;
      color: #FE7703;
      font-weight: bold;
    }
    
    .carrito-acciones {
      padding: 10px;
      display: flex;
      justify-content: space-between;
    }
    
    .carrito-acciones button {
      padding: 8px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
    }
    
    .carrito-vaciar {
      background-color: #521C0D;
      color: #FFFBDE;
    }
    
    .carrito-comprar {
      background-color: #FE7703;
      color: #FFFBDE;
    }
    
    .icono-carrito:hover .carrito-menu {
      display: block;
    }
    
    
    .usuario-menu {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #FFFBDE;
      width: 200px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      border-radius: 5px;
      z-index: 10;
      color: #521C0D;
    }
    
    .usuario-menu h3 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 10px;
      background-color: #521C0D;
      color: #FFFBDE;
      font-size: 14px;
    }
    
    .usuario-menu ul {
      list-style: none;
    }
    
    .usuario-menu li {
      padding: 10px;
      border-bottom: 1px solid #eee;
      font-size: 13px;
      cursor: pointer;
      color: #FE7703;
    }
    
    .usuario-menu li:hover {
      background-color: #f5f5f5;
    }
    
    .usuario-menu li i {
      margin-right: 8px;
      width: 16px;
      text-align: center;
      color: #FE7703;
    }
    
    .icono-usuario:hover .usuario-menu {
      display: block;
    }
h1{font-size: 2.5em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
text-indent: 50px;
font-style: inherit;
}

h2{font-size: 2em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:white;
font-style: inherit;
}

h3{font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FE7703;
    font-weight: bold;
    font-style: inherit;}

h4{font-size: 2em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #521C0D;
font-style: inherit;}

h5{font-size: 1.3em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #521C0D;
font-style: inherit;}

p{ font-size: 1.5em; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #521C0D;
font-style: inherit;}

body{
  margin: auto;  
}

button {
    font-size: 1.5em ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: unset;
    padding: 10px 20px ;
    border-radius: 15px;
    border: #FE7703;
    box-shadow: 2px 2px 2px rgba(59, 59, 59, 0.301);
    color: #FFFBDE;
    background-color: #FE7703;
}

button:hover {
    background-color: #d64705;
}
header{
    background-color: #521C0D;
}

header .logo{
    margin: 10px;
    padding: 10px 10px;
    font-weight: bold;
    color: #FE7703;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items:center;
}

header nav{
font-size: 1.5em ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-style: unset;
margin: 0%;
padding: 5px 5px;
padding-bottom: 15px;
margin-top: 15px;
}

header a{
    padding: 50px;
    text-decoration: none;
    text-align: right;
    margin-right: 100px;
    font-weight: bold;
    color: #FE7703;

}

#hero{
    display: flex;
    flex-direction: column;
    height: 80vh;
    color: white;
    background-image: url(https://i.postimg.cc/fWY36Tnw/vista-de-lindo-perro-disfrutando-del-tiempo-en-la-naturaleza-en-el-parque-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}


#hero2{
    display: flex;
    align-items: right;
    justify-content: center;
    text-align: right;
    flex-direction: column;
    height: 60vh;
    color: white;
    background-image: url(https://i.postimg.cc/RVsvYjFS/2148366865.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;  
}

#hero3{
    display: flex;
    align-items: right;
    justify-content: center;
    text-align: right;
    flex-direction: column;
    height: 60vh;
    color: white;
    background-image: url(https://i.postimg.cc/Hk9RKM3Q/2148985983.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.titulo-hero1{
    text-align:left;
    margin-left: 100px;

}

.titulo-hero2{
    text-align:right;
    margin-right:  100px;

}


.titulo-hero3{
    text-align:right;
    margin-right:  100px;

}

    .categoria-container {
        max-width: 1200px;
            margin: 0 auto;
            padding: 50px;
             display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
         }

  .categoria-column {
            flex: 1;
            min-width: 80px;
            background-color:#fffab6 ;
            border-radius: 10px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s ease;
        }
  
  .categoria-image {
       width: 100%;
            height: 200px;
            object-fit: cover;
          }


        .categoria-header {
            padding: 10px;
            text-align: center;
           
        }
        
        .categoria-titulo{
            text-align:left;
            margin-left: 90px;
        }

.Favoritos-container {
        max-width: 1200px;
            margin: 0 auto;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
         }

.Favoritos-column {
            flex: 1;
            min-width: 80px;
            background-color: #fffab6;
            border-radius: 10px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
  
.Favoritos-imagen {
            width: 200px;
            height: 200px;
            object-fit: cover;
            text-align: center;
          }


        .Favoritos-header {
            padding: 15px;
            text-align: center;
           
        }
        
        .Favoritos-titulo{
            text-align:left;
            margin-left: 100px;
        }
.informacíon .container {
  display: flex; 
  justify-content: space-between; 
  gap: 10px; 
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.informacíon .column {
  flex: 1; 
  min-width: 80px; 
  text-align: center;
  padding: 50px;

}


.informacíon .column img {
  display: block;
  margin: 0 auto 15px;
}

.informacíon .column h4 {
font-size: 1.5em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #521C0D;
font-style: inherit;
}

.informacíon .column p {
font-size: 1.3em; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #521C0D;
font-style: inherit;
}

.informacíon .container {
        max-width: 1800px ;
    
  }

.rokdog-footer {
  position: relative;
  width: 100%;
  background-color: #521C0D;
  color: #fffab6;
  padding: 10px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: inherit;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 0 10px;
}


.logo-container {
  height: 100px; 
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-align: center;


}
.footer-logo {
  width: 100px;
}


.footer-column {
  flex: 1;
  min-width: 250px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.logo-social {
  display: flex;
  flex-direction: column;
}

.follow-text {
  margin: 10px 0 15px;
  color: #fffab6;
  font-size: 0.95rem;
  font-style: inherit;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 5px;
}

.social-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;

}

.social-img:hover {
  transform: translateY(-3px);
  border-color: #fffab6;
}

/* Textos */
.footer-title {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #fffab6;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-style: inherit;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-text {
  margin: 12px 0;
  color: #fffab6;
  font-size: 0.95rem;
  font-style: inherit;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


@media (max-width: 300px) {
  .footer-column {
    min-width: 100%;
    text-align: center;
  }
  
  .logo-container {
    justify-content: center;

  }
  
  .social-icons {
    justify-content: center;
  }
}